* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  position: relative;
  width: 400px;
  background: #fff;
  padding: 60px 40px;
}
header {
  font-size: 40px;
  margin-bottom: 60px;
  font-family: sans-serif;
}
.input-filed,
form .button {
  margin: 25px 0;
  position: relative;
  height: 50px;
  width: 100%;
}
.input-filed input {
  height: 100%;
  width: 100%;
  border: 1px solid silver;
  outline: none;
  padding-left: 15px;
  font-size: 19px;
  transition: 0.4s;
}
input:focus {
  border: 1px solid #1da1f2;
}
.input-filed label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  color: gray;
}
input:focus ~ label,
input:valid ~ label {
  transform: translateY(-38px);
  background: #fff;
  font-size: 16px;
  color: #1da1f2;
}
form .button {
  margin-top: 30px;
  overflow: hidden;
  z-index: 111;
}
.button .inner {
  position: absolute;
  width: 300%;
  height: 100%;
  left: -100%;
  background: -webkit-linear-gradient(
    right,
    #00dbde,
    #fc00ff,
    #00dbde,
    #fc00ff
  );
  z-index: -1;
  transition: all 0.4s;
}
.button:hover .inner {
  left: 0;
}
.button button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: sans-serif;
}
